body{
    background-color: gray;
}
.top-header{
   background-color: #505050;
   position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.top-header ul{
    padding: 0;
}
.top-header li{
    list-style: none;
    padding: 5px;
    color: white;
}

.top-header li:first-child {
    padding: 0;
}

.top-header a{
    color: white;
}
.top-header input{
    width: 100%;
    margin-bottom: 20px;
}

.top-header{
    top: 0;
    width: 100%;
    z-index: 1;
}
.top-header ul{
    position: relative;
    top: 10px;
}
.top-header li{
    display: inline;
}

.top-header img{
    position: relative;
    top: 6px;
}
.top-header input{
    width: 275px;
    margin: 0;
    position: relative;
    left: 0;
    top: 40px;
}
.nav-bar li a{
    position: relative;
    top: 30px;
}
.product {
    margin-top:130px;
}
.product h1{
    background-color: white;
    margin-bottom: 0px;
    margin-top: 15px; 
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 30px;  
}
.product a{
    background-color: #de1f1f;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.product a:hover{
    background-color: rgb(199, 0, 0);
    cursor: pointer;
}
.livingRoom {
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
}
.livingRoom li {
    list-style: none;
}
.livingRoom img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 200px;
}
.dinningRoom {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 30px;
}
.dinningRoom li{
    list-style: none;
}
.dinningRoom img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 200px;
}
.office {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 20px;
}
.office li{
    list-style: none;
}
.office img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 200px;  
}
.footer{
    background-color: #505050;
    
}
.footer h2 {
    color: white;
}
.footer p{
    color: white
}
.services h3{
    color:white;
}
.services ul{
    padding: 0px;
}
.services li{
    color:white;
    list-style: none;
    padding: 0;
}
/* } */