body{
    background-color: grey;
}
.top-header{
    background-color: #505050;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.top-header ul{
    position: relative;
    top: 10px;
}
.top-header li{
    list-style: none;
    display: inline;
    padding: 5px;
    color: white;
}
.top-header li a{
    color: white;
}
.top-header img{
    position: relative;
    top: 6px;
}
.top-header input{
    position: relative;
    left: 35%;
    top: 40px;
}
.nav-bar li a{
    position: relative;
    top: 30px;
}
.bedimg{
    min-width: 1024px;
    min-height: 100%;
    width:100%;
    height: auto;
    border: 2px solid #505050;
} 
.info{
    background-color: gray;
    margin-top: 10px;
} 
.info p{
    text-align: center;
    color: white;
}
.info img{
    position: relative;
    left: 70px;
}
.livingroom{
   background-image: url("../images/livingroom.jpg")
}
.footer{
    background-color: #505050;
    
}
.footer h2 {
    color: white;
}
.footer p{
    color: white
}
.services h3{
    color:white;
}
.services li{
    color:white;
}
