.top-header{
    background-color: #505050;
}
.top-header ul{
    position: relative;
    top: 10px;
}
.top-header li{
    list-style: none;
    display: inline;
    padding: 5px;
    color: white;
}
.top-header li a{
    color: white;
}
.top-header img{
    position: relative;
    top: 6px;
}
.nav-bar li a{
    position: relative;
    top: 30px;
}
.first {
    background-image: url(../images/bedroom.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 550px;
}
.inner-first{
    padding: 2rem 3rem;
    color: red;
}
.second {
    background-image: url(../images/livingroom.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 550px;
}
.inner-second {
    padding: 2rem 3rem;
    color: red;
}
.third {
    background-image: url(../images/office.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 550px;
}
.inner-third {
    padding: 2rem 3rem;
    color: red;
}
