body{
    background-color: grey;
}
.top-header{
    background-color: #505050;
}
.top-header ul{
    padding: 0;
}
.top-header li{
    list-style: none;
    padding: 5px;
    color: white;
}

.top-header li:first-child {
    padding: 0;
}

.top-header a{
    color: white;
}

.bedimg{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.info a{
    background-color: #de1f1f;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: relative;
    left: 145px;
}
.info a:hover{
    background-color: rgb(199, 0, 0);
    cursor: pointer;
}
.info img {
    width: 350px;
    height: 450px;
    margin-bottom: 20px;
}

.info h1{
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.info-box {
    margin-bottom: 30px;
}

.top-header input{
    width: 100%;
    margin-bottom: 20px;
}

@media(min-width: 1200px){

    .top-header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .top-header ul{
        position: relative;
        top: 10px;
    }
    .top-header li{
        display: inline;
    }

    .top-header img{
        position: relative;
        top: 6px;
    }
    .top-header input{
        width: 275px;
        margin: 0;
        position: relative;
        left: 0;
        top: 40px;
    }
    .nav-bar li a{
        position: relative;
        top: 30px;
    }

    .info {
        background-color: gray;
        margin-top: 10px;
    } 
    .info p{
        text-align: center;
        color: white;
    }
    .info img{
        max-width: 200px;
        height: auto;
        position: relative;
        left: 70px;
    }
    .livingroom{
       background-image: url("../images/livingroom.jpg");
    }
    .footer{
        background-color: #505050;
        
    }
    .footer h2 {
        color: white;
    }
    .footer p{
        color: white
    }
    .services h3{
        color:white;
    }
    .services ul{
        padding: 0px;
    }
    .services li{
        color:white;
        list-style: none;
        padding: 0;
}
